.post {
  width: 940px;
  max-height: none;
  overflow-y: auto;
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 90px 50px;
  grid-template-areas:
    "container  name-date avatar"
    "tags  name-date avatar";
  justify-items: start;
  align-items: center;
}
.likesButton {
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  grid-area: button;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.title {
  grid-area: title;
  color: rgba(24, 144, 255, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}
.name {
  grid-area: name;
  font-size: 18px;
  line-height: 28px;
}
.date {
  grid-area: date;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 22px;
}
.tags {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 40px;
  margin-right: 0.1rem;
  padding: 0.08rem;
  min-height: 20px;
  font-size: 12px;
  white-space: pre-wrap;
  height: auto;
}
.likes {
  grid-area: likes;
  font-size: 12px;
}
.avatar {
  grid-area: avatar;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.container {
  grid-area: container;
  display: flex;
}
.likesContainer {
  grid-area: likesContainer;
}
.description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 5rem;
  margin-top: 1.5rem;
  justify-self: flex-start;
  margin-left: 0;
}
.body {
  font-size: 18px;
  line-height: 25px;
  margin-top: 2rem;
  margin-right: 1rem;
}
.tagBox {
  grid-area: tags;
  display: flex;
}
.nameDateContainer {
  display: flex;
  flex-direction: column;
  grid-area: name-date;
}
.descriptionContainer {
  display: flex;
  width: 880px;
  justify-content: space-between;
}
.editButton {
  color: rgba(82, 196, 26, 1);
  border: 1px solid rgba(82, 196, 26, 1);
  margin-left: 1rem;
  width: 65px;
  height: 31px;
}
.deleteButton {
  width: 78px;
  height: 31px;
}
.buttons {
  display: flex;
  margin-top: 1.5rem;
  justify-self: end;
}
