.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  // position: absolute;
  // left: 0;
  margin: 0 auto;
  overflow: hidden;
  justify-self: flex-start;
  align-self: flex-start;
}
.button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}
p {
  margin-left: 1rem;
}
.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
